{% extends "base.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}

    <h1>Restablecer contraseña</h1>
    {% if validlink %}
        <p>Por favor ingresa la contraseña dos veces</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Cambiar contraseña" /></p>
        </form>
    {% else %}
    <p>El restablecimiento de la contraseña ha sido inv&aacutelido, por favor solicite un nuevo Link nuevamente</p>
    {% endif %}
    
{% endblock %}